html.tvViewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0,0,0,.5) 15px, rgba(0,0,0,.5) 30px) !important;
}

html.tvViewer > body {
    position: absolute;
    width: 1280px !important;
    height: 720px !important;
    box-shadow: 0 0 100px 50px black;
    overflow: visible !important;
}

html.tvViewer > body.centered {
  top: 50% !important;
  left: 50% !important;
  margin-top: -360px !important;
  margin-left: -640px !important;
}

.keybutton {
    position: absolute;
    bottom: -30px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-family: tiresias,sans-serif;
}

html.tvViewer > body span.keybutton {
    text-align: center;
    border-radius: 5px;
    background-color: darkgray;
}

html.tvViewer > body span.keybutton.focus {
    background-color: #333;
}

#redkey {
    left: 10px;
    background-color: #DA0000;
}

#greenkey {
    left: 60px;
    background-color: #008F15;
}

#yellowkey {
    left: 110px;
    background-color: #DCBB00;
}

#bluekey {
    left: 160px;
    background-color: #3993D9;
}

span.keybutton.btleftgradient:before {
    background-color: #2561b4;
    background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(10,94,125)), color-stop(1, rgb(14,139,184)));
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.keybutton.btrightgradient {
  background-color: #3993D9 !important;
  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)));
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#f11key {
    width: 40px;
    left: 50%;
    margin-left: -40px;
}
#f11key:before {
    content: "F11";

    display: block;
    position: absolute;
    left: -30px;
    width: 30px;
}
#f11key:after {
    content: "fullscr";
}

#f12key {
    width: 40px;
    left: 50%;
    margin-left: 40px;
}
#f12key:before {
    content: "F12";

    display: block;
    position: absolute;
    left: -30px;
    width: 30px;
}
#f12key:after {
    content: "debug";
}

#res2160key {
    right: 10px;
}
#res2160key:after {
    content: "2160p";
}

#res1440key {
    right: 60px;
}
#res1440key:after {
    content: "1440p";
}

#res1080key {
    right: 110px;
}
#res1080key:after {
    content: "1080p";
}

#res720key {
    right: 160px;
}
#res720key:after {
    content: "720p";
}

html.tvViewer > body.res720p {
    zoom: 1.0;
}

html.tvViewer > body.res1080p {
    zoom: 1.5;
}

html.tvViewer > body.res1440p {
    zoom: 2.0;
}

html.tvViewer > body.res2160p {
    zoom: 3.0;
}
