html.tvViewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0,0,0,.5) 15px, rgba(0,0,0,.5) 30px) !important;
}

html.tvViewer > body {
    position: absolute;
    width: 1280px !important;
    height: 720px !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -360px !important;
    margin-left: -640px !important;
    box-shadow: 0 0 100px 50px black;
    overflow: visible !important;
}

.keybutton {
    width: 40px;
    height: 20px;
}

#redkey {
    position: absolute;
    bottom: -30px;
    left: 10px;
    background-color: #DA0000;
}

#greenkey {
    position: absolute;
    bottom: -30px;
    left: 60px;
    background-color: #008F15;
}

#yellowkey {
    position: absolute;
    bottom: -30px;
    left: 110px;
    background-color: #DCBB00;
}

#bluekey {
    position: absolute;
    bottom: -30px;
    left: 160px;
    background-color: #3993D9;
}

html.tvViewer > body span.keybutton {
    text-align: center;
    background-color: darkgray;
}

html.tvViewer > body span.keybutton.focus {
    background-color: gray;
}

#res2160key {
    position: absolute;
    bottom: -30px;
    right: 10px;
}
#res2160key:after {
    content: "2160p";
}

#res1440key {
    position: absolute;
    bottom: -30px;
    right: 60px;
}
#res1440key:after {
    content: "1440p";
}

#res1080key {
    position: absolute;
    bottom: -30px;
    right: 110px;
}
#res1080key:after {
    content: "1080p";
}

#res720key {
    position: absolute;
    bottom: -30px;
    right: 160px;
}
#res720key:after {
    content: "720p";
}

html.tvViewer > body.res720p {
    zoom: 1.0;
}

html.tvViewer > body.res1080p {
    zoom: 1.5;
}

html.tvViewer > body.res1440p {
    zoom: 2.0;
}

html.tvViewer > body.res2160p {
    zoom: 3.0;
}
